@charset "UTF-8";
/* Includes */
/* Mixins */
/* Reset */
* {
  margin: 0;
  padding: 0; }

/* Estilos generales */
html {
  font-size: 1em; }

body {
  color: #353233;
  font-family: 'Didact Gothic', sans-serif;
  background-color: #DCCCFF; }

h1 {
  color: #480355; }

h2 {
  color: #289b7e;
  margin-bottom: 3%; }

h3 {
  color: #46769D; }

p {
  margin: 2% 0;
  text-align: justify; }

a {
  color: #C75C6A;
  text-decoration: none;
  font-weight: bold; }

.contenedores, main {
  margin: 0 auto;
  background-color: #FFF;
  width: 100%; }

main {
  padding: 4%;
  overflow: auto;
  width: 95%;
  min-height: 65vh; }

/* Header */
header {
  position: sticky;
  top: 0px;
  z-index: 9;
  background-image: url("../images/books.jpeg");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: cover; }

#banner {
  text-align: right;
  padding-right: 5%; }
  #banner h1 {
    display: inline-block;
    color: #FFF;
    width: 100%;
    line-height: 150px; }

/* Menú */
nav div.container-fluid {
  margin: 0;
  padding: 0; }

nav ul {
  width: 95%;
  margin: 0 auto; }
  nav ul li {
    text-align: center;
    width: 20%;
    padding: .5rem 0; }
    nav ul li a {
      font-size: 1.2rem;
      text-shadow: 1px 1px 4px black; }
  nav ul li:hover {
    background-color: rgba(255, 255, 255, 0.2); }

.navbar {
  margin: 0;
  padding: 0; }

.navbar .container-fluid {
  flex-direction: row-reverse; }

@media screen and (max-width: 992px) {
  main {
    width: 100%; }
  nav ul {
    width: 100%; }
    nav ul li {
      width: 100%; } }

/* Footer */
footer {
  display: flex;
  background: linear-gradient(180deg, #480355 60%, #DCCCFF 100%);
  height: 80px;
  flex-flow: row nowrap;
  align-items: center;
  color: #FFF;
  padding: 0 3%; }

.copy {
  width: 60%; }
  .copy span {
    font-size: 1.3em; }

.social {
  width: 40%;
  text-align: right; }
  .social span {
    padding-left: 5%; }
  .social a {
    color: #FFF;
    font-weight: normal; }

/*** Estilos por secciones ***/
/* Home */
.datosBibliograficos {
  font-weight: bold;
  color: #480355; }

.tituloLibro {
  font-style: italic; }

/* Contacto */
.btn {
  width: 15%;
  margin-left: 5px; }

@media screen and (max-width: 768px) {
  .btn {
    width: 48%; } }

.btn-primary {
  background-color: #46769D;
  border-color: #426c8f; }
  .btn-primary:hover, .btn-primary:active, .btn-primary:focus {
    background-color: #426c8f;
    border-color: #426c8f; }

fieldset {
  padding: 10px 0px;
  border: none;
  border-top: 1px solid #46769D;
  margin-bottom: 10px; }

legend {
  color: #46769D;
  font-size: 1.4em;
  padding-right: 10px; }

/* Autores */
table {
  width: 90%; }
  table th {
    border-top: 1px solid #46769D;
    border-bottom: 1px solid #46769D;
    text-align: center;
    color: #480355; }
  table td {
    border-top: 1px solid #A1BBDC;
    border-bottom: 1px solid #A1BBDC;
    text-align: center; }

@media screen and (max-width: 460px) {
  .table {
    font-size: 0.8em; } }

/* Kindle */
.romanos {
  list-style-type: lower-roman;
  margin: 3% 0;
  padding-left: 5%; }

/* 404 */
#img404 {
  display: block;
  width: 50%;
  margin: 5% auto; }
