* {
    margin:0;
    padding:0;
}

/* Estilos generales */
body {
    color:#353233;
    font-family:'Didact Gothic', sans-serif;
    background-color:#DCCCFF;
}

h1 {
    color:#289b7e;
}

h2 {
    color:#F17105;
    margin-bottom:3%;
}

h3 {
    color:#46769D;
}

p {
    margin: 2% 0;
    text-align:justify;
}

a {
    color:#C75C6A;
    text-decoration:none;
    font-weight:bold;
}

header, main, footer {
    margin: 0 auto;
    background-color:#FFF;
    width: 83%;
}

main {
    padding: 4%;
    overflow:auto;
}

/* Header */

header {
    position:sticky;
    top:0px;
    z-index:9;
}

#banner {
    background-color: #480355;
    background-image:url("../images/logo.png");
    background-repeat:no-repeat;
    background-position: top right;
    background-size: contain;
}

#banner h1 {
    display:inline-block;
    color:#FFF;
    width:100%;
    text-align:center;
    line-height: 105px;
}

/* Menú */ 

nav {
    background-color:#46769D;
}

nav div.container-fluid {
    margin:0;
    padding:0;
}

nav ul {
    width: 100%;
}

nav ul li {
    text-align:center;
    width:20%;
    padding: .5rem 0;
}

nav ul li:hover {
    background-color:#F17105;
}

nav ul li a {
    color:#FFF !important;
    font-size:1.2rem;
}

.navbar {
    margin:0;
    padding:0;
}

/* Footer */

    footer {
        display:flex;
        background: linear-gradient(180deg, rgba(72,3,85,1) 60%, rgba(220, 204, 255,1) 100%);
        height:80px;
        flex-flow: row nowrap;
        align-items: center;
        color:#FFF;
    }
    .copy {
        width:60%;
        padding-left:3%;
    }
    .copy span {
        font-size:1.3em;
    }

    .social {
        width:40%;
        text-align:right;
    }
    .social span {
        padding-right:20px;
    }
    .social a {
        color:#FFF;
        font-weight: normal;
    }

/* Home */

.datosBibliograficos {
    font-weight: bold;
    color:#480355;
}

.tituloLibro {
    font-style: italic;
}


/* Elementos de formulario*/

.btn {
    width:15%;
    margin-left: 5px;
}

.btn-primary {
    background-color: #46769D;
    border-color: #426c8f;
}
.btn-primary:hover, .btn-primary:active, .btn-primary:focus{
    background-color: #426c8f;
    border-color: #426c8f;
}

fieldset {
    padding: 10px 0px;
    border:none;
    border-top:1px solid #46769D;
    margin-bottom:10px;
}

legend {
    color:#46769D;
    font-size:20px;
    padding-right:10px;
}

/* Tablas */

table {
    width: 90%;
}

table th {
    border-top: 1px solid #46769D;
    border-bottom: 1px solid #46769D;
    text-align:center;
    color:#480355;
}

table td {
    border-top: 1px solid #A1BBDC;
    border-bottom: 1px solid #A1BBDC;
    text-align:center;
}


/* Kindle */

.romanos {
    list-style-type: lower-roman;
    margin:3% 0;
    padding-left:5%;
}

/* Dispositivos XS */

@media only screen and (max-width:600px){

    article {
        grid-template-columns: 100%;
        grid-template-rows: 270px 30px 60px 30px 150px 150px;
        grid-template-areas: "cover "
                             "author"
                             "title"
                             "year"
                             "summary"
                             "opinion";
    }

    .cover {
        height: 100%;
        width: auto;
    }

}