// Includes
@import "colores"; // Variables de códigos de colores
@import "medidas"; // Variables de tamaños
@import "imagenes"; // Variables de imágenes


// Mixins

// Mixin para darle color de fondo o texto a un elemento
@mixin colores($codigo,$tipo){
    
    @if $tipo == bg {
        background-color: $codigo;
    }
    @else if $tipo == txt {
        color: $codigo;
    } 
    @else {
        border-color: $codigo;
    }

}

// Mixin para darle formato al texto
@mixin formato($tipo) {

    @if $tipo == B {
        font-weight:bold;
    }
    @else if $tipo == I {
        font-style: italic;
    }
    @else if $tipo == NB {
        font-weight:normal;
    }
    @else if $tipo == NU {
        text-decoration:none;
    }
    @else {
        text-decoration:underline;
    }

}

// Mixin para alinear el texto
@mixin alinear($tipo) {

    @if $tipo == C {
        text-align: center;
    }
    @else if $tipo == L {
        text-align: left;
    }
    @else if $tipo == R {
        text-align: right;
    }
    @else if $tipo == J {
        text-align:justify;
    }
    @else {
        text-align:inherit;
    }

}

/* Reset */

* {
    margin:0;
    padding:0;
}

/* Estilos generales */

html {
    font-size:$fontResponsive;
}

body {
    @include colores($darkGrey, txt);
    font-family:'Didact Gothic', sans-serif;
    @include colores($lilac, bg);
}

h1 {
    @include colores($green, txt);
}

h2 {
    @include colores($orange, txt);
    margin-bottom:$marginBTitle;
}

h3 {
    @include colores($blue, txt);
}

p {
    margin: 2% 0;
    @include alinear(J);
}

a {
    @include colores($pink, txt);
    @include formato(NU);
    @include formato(B);
}

.contenedores {
    margin: 0 auto;
    @include colores($white, bg);
    width: $mainWidth;
}

main {
    @extend .contenedores;
    padding: $paddingMain;
    overflow:auto;
}

/* Header */

header {
    position:sticky;
    top:0px;
    z-index:9;
}

#banner {
    @include colores($purple, bg);
    background-image:url($logo);
    background-repeat:no-repeat;
    background-position: top right;
    background-size: contain;
    h1 {
        display:inline-block;
        @include colores($white, txt);
        width:$full;
        @include alinear(C);
        line-height: $lineH1Banner;
    }
}

/* Menú */ 

nav {
    @include colores($blue, bg);
    div.container-fluid {
        margin:0;
        padding:0;
    }
    ul {
        width: $full;
        li {
            @include alinear(C);
            width:20%;
            padding: .5rem 0;
            a {
                font-size:1.2rem;
            }
        }
        li:hover {
            @include colores($orange, bg);
        }
    }
}

.navbar {
    margin:0;
    padding:0;
}

@media screen and (max-width: 992px) {
    nav {
        ul {
            li {
                width:$full;
            }
        }
    }
}

/* Footer */

footer {
    display:flex;
    background: linear-gradient(180deg, $purple 60%, $lilac $full);
    height:80px;
    flex-flow: row nowrap;
    align-items: center;
    @include colores($white, txt);
}

.copy {
    width:60%;
    padding-left:3%;
    span {
        font-size:1.3em;
    }
}

.social {
    width:40%;
    @include alinear(R);
    span {
        padding-right:20px;
    }
    a {
        @include colores($white, txt);
        @include formato(NB);
    }
}

/*** Estilos por secciones ***/

/* Home */

.datosBibliograficos {
    @include formato(B);
    @include colores($purple,txt);
}

.tituloLibro {
    @include formato(I);
}

/* Contacto */

.btn {
    width:15%;
    margin-left: 5px;
}

@media screen and (max-width: 768px) {
    .btn {
        width:48%;
    }
}

.btn-primary {
    @include colores($blue,bg);
    border-color: $darkBlue;

    &:hover, &:active, &:focus {
        @include colores($darkBlue,bg);
        @include colores($darkBlue,bd);
    }
}

fieldset {
    padding: 10px 0px;
    border:none;
    border-top:1px solid $blue;
    margin-bottom:10px;
}

legend {
    @include colores($blue,txt);
    font-size:1.4em;
    padding-right:10px;
}

/* Autores */

table {
    width: 90%;
    th {
        border-top: 1px solid $blue;
        border-bottom: 1px solid $blue;
        @include alinear(C);
        @include colores($purple,txt);
    }
    td {
        border-top: 1px solid $lightBlue;
        border-bottom: 1px solid $lightBlue;
        @include alinear(C);
    }
} 

@media screen and (max-width: 460px) {
    .table {
        font-size:0.8em;
    }
}


/* Kindle */

.romanos {
    list-style-type: lower-roman;
    margin:3% 0;
    padding-left:5%;
}